#legendPanel {
    height: 100%;
    width: 400px;
    background-color: white;
    position: absolute;
    right: 0;
}

.customTemplate {
    position: fixed;
    left: 0;
    height: 800px;
    background-color: white
}

.selectCT {
  margin-top: 10px;
}